- if employee.photo
  = link_to image_tag(employee.photo, :style => "float:left"), "/office/employee_photo/#{params[:id]}"
- else
  = link_to "เพิ่มภาพถ่าย", "/run/office/add_employee_photo/#{params[:id]}"
#ear(style="padding-left:130px;")
  - if current_user.role.upcase.split(',').include?('HR')
    = image_tag "pencil.png"
    = link_to "แก้ไข", "/run/office/edit_employee/#{params[:id]}"
    %br
  %b
    = employee.person.full_name
  %br
  - if employee.position
    = employee.position
    %br
  - if employee.section
    = employee.section.name
    %br
  %b
    ที่อยู่ปัจจุบัน
  = employee.address.address
  - unless employee.address.moo.blank?
    = "หมู่ "+employee.address.moo.to_s
  - if employee.address.sub_district
    = employee.address.sub_district.name
    = district_prefix(employee.address.province_id)+employee.address.district.name
    = province_prefix(employee.address.province_id)+employee.address.province.name
  %br
  %b
    ที่อยู่ตามทะเบียนบ้าน
  = employee.address_reg.address
  - unless employee.address_reg.moo.blank?
    = "หมู่ "+employee.address_reg.moo.to_s
  - if employee.address_reg.sub_district
    = employee.address_reg.sub_district.name
    = district_prefix(employee.address_reg.province_id)+employee.address_reg.district.name
    = province_prefix(employee.address_reg.province_id)+employee.address_reg.province.name
  %br
  %b
    โทรศัพท์
  = employee.person.phone
  %b
    โทรศัพท์มือถือ
  = employee.person.cell_phone
:css
  .b {font-weight:bold;}
%table(style="clear:both;")
  %tr
    %td.b
      เริ่มรับราชการเมื่อ
    %td
      = date_thai employee.begin_gov_service_on, :date_only=>true, :monthfull=>true
  %tr
    %td.b
      วันเกษียณอายุ
    %td
      = date_thai employee.retired_on, :date_only=>true, :monthfull=>true
  %tr
    %td.b
      คู่สมรส
    %td
      = employee.spouse.full_name if employee.spouse
  %tr
    %td.b
      สถานที่ประกอบอาชีพ
    %td
      = employee.spouse.work if employee.spouse
  %tr
    %td.b
      บิดา
    %td
      = employee.father.full_name if employee.father
  %tr
    %td.b
      มารดา
    %td
      = employee.mother.full_name if employee.mother
  %tr
    %td.b
      ที่อยู่ปัจจุบัน
    %td
      = employee.address_relative.address
      - unless employee.address_relative.moo.blank?
        = "หมู่ "+employee.address_relative.moo.to_s
      - if employee.address_relative.sub_district
        = employee.address_relative.sub_district.name if employee.address_relative.sub_district
        = district_prefix(employee.address_relative.province_id)+employee.address_relative.district.name if employee.address_relative.district
        = province_prefix(employee.address_relative.province_id)+employee.address_relative.province.name if employee.address_relative.province
  %tr
    %td.b
      โทรศัพท์
    %td
      = employee.address_relative.phone
  %tr
    %td.b
      ความสามารถพิเศษ
    %td
      = employee.skill
  %tr
    %td.b
      หมู่โลหิต
    %td
      = employee.blood_type

