- @app ||= get_app
- process_services(@app)
= render :partial=> "main/setup_layout_vars"
%div{"data-context" => "a#default", "data-hash" => "crumbs", "data-id" => "menu", "data-role" => "panel"}
  #main{"data-role" => "page"}
    %div{"data-role" => "header", "data-theme" => "b", "data-backbtn"=>"false"}
      - if login?
        %h1= current_user.login
      - else
        %h1 ELOCAL
    %div{"data-role" => "content"}
      %ul{"data-role" => "listview", "data-theme" => "g"}
        - if login?
          %li
            %a{"data-panel" => "main", :href => "#search"} ค้นหา
          %li
            %a{"data-panel" => "main", :href => "/main/pending"} งานระหว่างดำเนินการ
        - else
          %li
            %a{:href=>"#login", "data-rel"=>"dialog", "data-panel" => "main"} เข้าใช้ระบบ
        - @amodules.each do |m|
          %li
            = m.name
            %ul
              - m.gma_services.each do |s|
                - next unless s.listed
                - xml= REXML::Document.new(s.xml).root
                - unless s.rule.blank?
                  - next if (!eval(s.rule))
                - unless s.role.blank?
                  - next unless current_user.role.upcase.split(',').include?(s.role.upcase)
                - @confirm= get_option_xml("confirm", xml) ? {:onclick=>"return confirm('กรุณายืนยัน');"} : {}
                %li
                  - if s.code.downcase=="link"
                    - name, url = s.name.split(":",2)
                  - else
                    - name= s.name; url= "/run/#{s.module}/#{s.code}"
                  %a{{"data-panel"=>"main", :href=>url.strip}.merge(@confirm)}= name
                  /%a{{"data-panel"=>"main", :onclick=>"location.hash='"+url.strip+"'"}.merge(@confirm)}= name
        %li
          %a{"data-panel" => "main", :href => "#about"} เกี่ยวกับ ELOCAL
        - if login?
          %li
            %a{"data-panel" => "main", :href => "/users/logout"} ออกจากระบบ
        %li
          = link_to "ปรับปรุงหน้าจอ", "#", :onclick=>"window.location.replace('/')"
