#search{"data-role" => "page"}
  %div{"data-role" => "header", "data-backbtn" => "false"}
    %h1 ค้นหา
  %div{"data-role" => "content"}
    - form_tag({:controller=>"main", :action=>"search"}, :method => "get" ) do
      = text_field_tag :q, "", :type=>"search", :required=>true, :placeholder=>"ใส่ข้อความ เลขที่หนังสือ หรือวันที่", :onkeypress=>"$('input').unbind('keypress');"
      = submit_tag "ค้นหา", "data-inline"=>"true"
    - form_tag({:controller=>"main", :action=>"status"}, :method => "get" ) do
      = text_field_tag :id, nil, :required=>true, :placeholder=>"ใส่เลขที่งาน", :onkeypress=>"$('input').unbind('keypress');"
      = submit_tag "ตรวจสอบสถานะ", "data-inline"=>"true"
    = link_to "งานที่อยู่ระหว่างดำเนินการ", "#", :onclick=>"location.hash='/main/pending'", "data-role"=>"button"
    = link_to "ปรับปรุงหน้าจอ", "#", :onclick=>"window.location.replace('/main/home')", "data-role"=>"button"
    = link_to "เกี่ยวกับ ELOCAL", "#", :onclick=>"location.hash='#about'", "data-role"=>"button"
#new-user{"data-role" => "page", "data-rel"=>"dialog"}
  %div{"data-role" => "header", "data-backbtn" => "false"}
    %h1 ขึ้นทะเบียนผู้ใช้ใหม่
  %div{"data-role" => "content"}
    %a(href="#search" data-rel="dialog") search
    - form_tag(:controller=>"main", :action=>"search") do
      = text_field_tag :q, "", "type"=>"search"
      = submit_tag "ค้นหา", "data-inline"=>"true"
#login{"data-role" => "page", "data-rel"=>"dialog"}
  %div{"data-role" => "header", "data-backbtn" => "false"}
    %h1 เข้าใช้ระบบ
  %div{"data-role" => "content"}
    - form_tag :controller=>"users", :action=>"login" do
      %table(width="100%")
        %tr
          %td(class="field-name") รหัสผู้ใช้
          %td(colspan="2")= text_field_tag :login, nil, :style => "width:400px;"
        %tr
          %td(class="field-name") รหัสผ่าน:
          %td(colspan="2")= password_field_tag :password, nil, :style => "width:400px;"
      = submit_tag "เข้าใช้ระบบ"
:javascript
  function notice(msg) {
    $("<div class='ui-loader ui-overlay-shadow ui-body-e ui-corner-all'><h1>"+ msg +"</h1></div>")
      .css({ "display": "block", "opacity": 0.96, "top": $(window).scrollTop() + 100 })
  		.appendTo( $('div[data-id="main"]') )
  		.delay( 4000 )
  		.fadeOut( 400, function(){
  		  $(this).remove();
  		});
  }
