%div(style='float:right')
  - if office_office?
    = image_tag 'add.png'
    = link_to align_text('เพิ่มรถ'), "/run/office/add_car"
  = image_tag 'car.png'
  = link_to align_text('ขอใช้รถ'), "/run/starter/car"
  = image_tag 'car_delete.png'
  = link_to align_text('ยกเลิกคำขอใช้รถ'), "/run/starter/car_cancel"
%table{:class=>'budget_table', :width=>"100%"}
  %tr{:style=>"color:white; background-color:#6A6A6A;"}
    - if office_office?
      %th{:style=>"width:20px;"} ลบ
    %th ประเภท
    %th ยี่ห้อ
    %th สี
    %th ทะเบียน
  - @cars.each do |car|
    %tr
      - if office_office?
        %td= link_to image_tag('cross.png'), "/run/office/rm_car/#{car.id}", :confirm=>"กรุณายืนยัน"
      %td(style="width:100px;")= car.vtype_name
      %td= car.brand
      %td= car.color
      %td= car.car_code
    - car.car_requests.active.each do |r|
      %tr
        - if office_office?
          %td &nbsp;
        %td(colspan="4" style="padding-left:30px;")= "#{date_thai r.schedule_at} #{r.name} (#{r.destination})"
