%h4(style='text-align:center;') การเจ้าหน้าที่
- if office_office?
  %div(style='float:right')
    = image_tag 'add.png'
    = link_to align_text('ขึ้นทะเบียนบุคคลากร'), "/run/office/add_employee"
%table{:class=>'budget_table', :width=>"100%"}
  %tr{:style=>"color:white; background-color:#6A6A6A;"}
    - if office_office?
      %th{:style=>"width:30px;"} แก้ไข
      %th{:style=>"width:30px;"} ลบ
    %th ชื่อ
    %th ตำแหน่ง
  - @employees.each do |e|
    - next unless e.person
    %tr
      - if office_office?
        %td= link_to image_tag('pencil.png'), "/run/office/edit_employee/#{e.id}"
        %td= link_to image_tag('cross.png'), "/run/office/rm_employee/#{e.id}", :confirm=>"กรุณายืนยัน"
      %td= link_to e.person.full_name, "/office/employee/#{e.id}"
      %td= e.position
