%h4(style='text-align:center;') นโยบายและแผน
- if office_office?
  %div(style='float:right')
    =image_tag 'add.png'
    = link_to align_text('เพิ่มยุทธศาสตร์'), "/run/office/add_strategy"
%table{:class=>'budget_table', :width=>"100%"}
  %tr{:style=>"color:white; background-color:#6A6A6A;"}
    - if office_office?
      %th{:style=>"width:30px;"} แก้ไข
      %th{:style=>"width:30px;"} ลบ
    %th ชื่อ
    %th(style="width:150px;") โทรศัพท์
  - @nurseries.each do |n|
    %tr
      - if office_office?
        %td= link_to image_tag('pencil.png'), "/run/office/edit_nursery/#{n.id}"
        %td= link_to image_tag('cross.png'), "/run/office/rm_nursery/#{n.id}", :confirm=>"กรุณายืนยัน"
      %td= link_to n.name, "/office/students/#{n.id}"
      %td= n.phone
