%h4(style='text-align:center;') แบบสำรวจ
- if office_office? || true
  %div(style='float:right')
    =image_tag 'add.png'
    = link_to align_text('สร้างแบบสำรวจ'), "/run/office/poll"
%table{:class=>'budget_table', :width=>"100%"}
  %tr{:style=>"color:white; background-color:#6A6A6A;"}
    - if office_office? || true
      %th{:style=>"width:30px;"} ลบ
    %th ชื่อ
    %th ขอบเขต
    %th หมู่
    %th เริ่มต้น
    %th สิ้นสุด
  - @polls.each do |p|
    %tr
      - if office_office? || true
        %td= link_to image_tag('cross.png'), "/run/office/rm_poll/#{p.id}", :confirm=>"กรุณายืนยัน"
      %td= p.name
      %td(style="text-align:center;")= p.scope_name
      %td(align='center')= p.moo
      %td(style="text-align:center;")= date_thai p.start_on, :date_only=>true
      %td(style="text-align:center;")= date_thai p.stop_on, :date_only=>true