- @title= "ทะเบียนผู้รับเบี้ยยังชีพ"
- if office_office? || true
  %div(style='float:right')
    = image_tag 'add.png'
    = link_to align_text('ขึ้นทะเบียนผู้รับเบี้ยยังชีพ'), "/run/social/add_senior"
%table{:class=>'budget_table', :width=>"100%"}
  %tr{:style=>"color:white; background-color:#6A6A6A;"}
    - if office_office? || true
      %th{:style=>"width:30px;"} แก้ไข
      %th{:style=>"width:30px;"} ลบ
    %th(style='width:50px;') หมู่
    %th ชื่อ
    %th โทรศัพท์
    %th ประเภท
  - @seniors.each do |s|
    /- next unless s.person
    %tr
      - if office_office? || true
        %td= link_to image_tag('pencil.png'), "/run/office/edit_senior/#{s.id}"
        %td= link_to image_tag('cross.png'), "#", :onclick=>"if (confirm('กรุณายืนยัน')) {location.hash='/run/social/rm_senior/#{s.id}'};"
      %td(align='center')= s.moo
      %td= s.full_name
      %td= s.phone
      %td{:align=>'center'}= underprivileged s.underprivileged
