%h4(style='text-align:center;') ทะเบียนผู้รับเบี้ยยังชีพ
- if office_office?
  /%div(style='float:right')
  =image_tag 'add.png'
  = link_to align_text('ขึ้นทะเบียนผู้รับเบี้ยยังชีพ'), "/run/social/add_senior"
  =image_tag 'printer.png'
  = link_to align_text('ผู้สูงอายุ-งบรัฐบาล'), "/social/senior_state", :target=>"_blank"
  =image_tag 'printer.png'
  = link_to align_text('ผู้สูงอายุ-งบท้องถิ่น'), "/social/senior_local", :target=>"_blank"
  =image_tag 'printer.png'
  = link_to align_text('ผู้พิการ'), "/social/handicap", :target=>"_blank"
  =image_tag 'printer.png'
  = link_to align_text('ผู้ป่วยโรคเอดส์'), "/social/aids", :target=>"_blank"
%table{:class=>'budget_table', :width=>"100%"}
  %tr{:style=>"color:white; background-color:#6A6A6A;"}
    - if office_office?
      /%th{:style=>"width:30px;"} แก้ไข
      %th{:style=>"width:30px;"} ลบ
    %th(style='width:50px;') หมู่
    %th ชื่อ
    %th โทรศัพท์
    %th ประเภท
  - @seniors.each do |s|
    %tr
      - if office_office?
        /%td= link_to image_tag('pencil.png'), "/run/office/edit_senior/#{s.id}"
        %td= link_to image_tag('cross.png'), "/run/social/rm_senior/#{s.id}", :confirm=>"กรุณายืนยัน"
      %td(align='center')= s.moo
      %td= s.full_name
      %td= s.person.phone
      %td{:align=>'center'}= underprivileged s.underprivileged
