:css
  .num {text-align:right;width:100px;}
%table{:class=>'budget_table', :width=>"100%"}
  - @fsections.each do |s|
    - if finance_office?
      %tr
        %td(align='right' colspan=6)
          = image_tag 'add.png'
          = link_to align_text("เพิ่มงบประมาณ#{s.name}"), "/run/finance/add_budget?fy=#{params[:fy]}&fsection=#{s.id}"
    %tr{:style=>"color:white; background-color:#6A6A6A;"}
      - if finance_office?
        %th(style="width:30px;") แก้ไข
        %th(style="width:30px;") ลบ
      %th= s.name
      %th งบประมาณ
      %th คงเหลือ
      %th ร้อยละ
    - @budgets= Budget.all :conditions=>{:fy=>params[:fy], :fsection_id=>s.id}, :order=>"cat_id,ptype_id"
    - cat_id = nil
    - @budgets.each do |b|
      - if cat_id != b.cat_id
        %tr
          - if finance_office?
            %th= link_to image_tag('pencil.png'), "/run/finance/edit_cat/#{b.cat_id}"
            %th &nbsp;
          %td(colspan="4")= b "หมวด#{b.cat.name}"
        - cat_id= b.cat_id
      %tr
        - if finance_office?
          %th= link_to image_tag('pencil.png'), "/run/finance/edit_budget/#{b.id}"
          %th= link_to image_tag('delete.png'), "/run/finance/rm_budget/#{b.id}", :confirm=>"กรุณายืนยันการลบข้อมูล"
        %td= b.ptype.name
        %td.num= currency(b.budget)
        %td.num= currency(b.balance)
        %td.num(style="width:50px;")= b.budget==0 ? 0 : number_to_percentage(b.balance/b.budget*100, :precision=>0)
