%style
  td.num {text-align:right;}
- if finance_office?
  %div(style='float:right')
    =image_tag 'add.png'
    = link_to align_text('เพิ่มหมวด'), "/run/finance/add_cat?fy=#{params[:fy]}"
%table{:class=>'budget_table', :width=>"100%"}
  %tr{:style=>"color:white; background-color:#6A6A6A;"}
    %th หมวด / ประเภท
    %th งบประมาณ
    %th คงเหลือ
    %th ร้อยละ
  - @cats.each do |cat|
    %tr
      %td
        = cat.name
        - if finance_office?
          = link_to image_tag('add.png',:title=>'เพิ่มประเภท'), "/run/finance/add_ptype?fy=#{params[:fy]}&cat=#{cat.id}"
          /= link_to align_text('เพิ่มประเภท'), "/run/finance/add_ptype?fy=#{params[:fy]}&cat=#{cat.id}"
      %td(class='num')= currency(cat.budget(params[:fy]))
      %td(class='num')= currency(cat.balance(params[:fy]))
      %td(class='num')= cat.budget==0 ? 0 : number_to_percentage(cat.balance/cat.budget*100, :precision=>0)
    - cat.ptypes.each do |ptype|
      %tr
        %td
          = '&nbsp;&nbsp; - '+link_to(ptype.name, :action=>:ptype, :id=>ptype.id, :fy=>params[:fy])
          - if finance_office?
            = link_to image_tag('pencil.png',:title=>'แก้ไข'),"/run/finance/edit_ptype?ptype=#{ptype.id}"
        %td(class='num')= currency(ptype.budget(params[:fy]))
        %td(class='num')= currency(ptype.balance(params[:fy]))
        %td(class='num')= ptype.budget==0 ? 0 : number_to_percentage(ptype.balance(params[:fy])/ptype.budget(params[:fy])*100, :precision=>0)
